.room-wrapper {
  z-index: 5;
  &__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    &--img {
      width: 56px;
      height: 56px;
    }
    &--info {
      margin-left: 10px;
      max-width: calc(100% - 66px);
    }
    &--message {
      display: flex;
      font-size: 80%;
      opacity: 0.7;
    }
    &--last-message {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      max-width: 73%;
    }
    &--last-update {
      padding-left: 10px;
      flex-grow: 1;
      color: #1f8efa;
    }
  }
  &__item:hover {
    box-shadow: rgba(149, 157, 165, 0.13) 0px 0px 16px;
  }
  .full-width {
    max-width: 100%;
  }
}
.messages-wrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  .messages-box {
    margin-left: 20px;
    margin-top: auto;
  }
}
