.section {
  padding: 70px 0;
  position: relative;
  background: $custom-background-color;

  .row + .category {
    margin-top: $margin-base-vertical;
  }
}
.section-navbars {
  padding-bottom: 0;
}

.section-full-screen {
  height: 100vh;
}
.section-signup {
  padding-top: 20vh;
}

.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: $white-color;
  position: relative;
  overflow: hidden;

  & > .content {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
  }

  &.page-header-small {
    min-height: 60vh;
    max-height: 440px;
  }

  &:before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  > .container {
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
  }

  .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    padding: 0 15px;
    width: 100%;
    max-width: 880px;
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
  }

  .category,
  .description {
    color: $opacity-8;
  }

  &:after,
  &:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: "";
  }
}

.clear-filter {
  &:after,
  &:before {
    display: none;
  }

  &[filter-color="orange"] {
    @include linear-gradient(rgba($black-color, 0.2), rgba(224, 23, 3, 0.6));
  }
}

.section-story-overview {
  padding: 50px 0;

  .image-container {
    height: 335px;
    position: relative;
    background-position: center center;
    background-size: cover;
    box-shadow: $box-shadow-raised;
    border-radius: 0.25rem;

    & + .category {
      padding-top: 15px;
    }

    &.image-right {
      z-index: 2;

      + h3.title {
        margin-top: 120px;
      }
    }

    &.image-left {
      z-index: 1;
    }

    &:nth-child(2) {
      margin-top: 420px;
      margin-left: -105px;
    }
  }

  p.blockquote {
    width: 220px;
    min-height: 180px;
    text-align: left;
    position: absolute;
    top: 376px;
    right: 155px;
    z-index: 0;
  }
}

.section-nucleo-icons {
  .nucleo-container img {
    width: auto;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
  }

  .nucleo-container {
    height: 335px;
    position: relative;
  }

  h5 {
    margin-bottom: 35px;
  }

  .icons-container {
    position: relative;
    max-width: 450px;
    height: 300px;
    max-height: 300px;
    margin: 0 auto;
  }
  .icons-container i {
    font-size: 34px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .icons-container i:nth-child(1) {
    top: 5%;
    left: 7%;
  }

  .icons-container i:nth-child(2) {
    top: 28%;
    left: 24%;
  }

  .icons-container i:nth-child(3) {
    top: 40%;
  }

  .icons-container i:nth-child(4) {
    top: 18%;
    left: 62%;
  }

  .icons-container i:nth-child(5) {
    top: 74%;
    left: 3%;
  }

  .icons-container i:nth-child(6) {
    top: 36%;
    left: 44%;
    font-size: 65px;
    color: #f96332;
    padding: 1px;
  }

  .icons-container i:nth-child(7) {
    top: 59%;
    left: 26%;
  }

  .icons-container i:nth-child(8) {
    top: 60%;
    left: 69%;
  }

  .icons-container i:nth-child(9) {
    top: 72%;
    left: 47%;
  }

  .icons-container i:nth-child(10) {
    top: 88%;
    left: 27%;
  }

  .icons-container i:nth-child(11) {
    top: 31%;
    left: 80%;
  }

  .icons-container i:nth-child(12) {
    top: 88%;
    left: 68%;
  }

  .icons-container i:nth-child(13) {
    top: 5%;
    left: 81%;
  }

  .icons-container i:nth-child(14) {
    top: 58%;
    left: 90%;
  }

  .icons-container i:nth-child(15) {
    top: 6%;
    left: 40%;
  }
}

.section-images {
  max-height: 670px;
  height: 670px;

  .hero-images-container,
  .hero-images-container-1,
  .hero-images-container-2 {
    margin-top: -38vh;
  }

  .hero-images-container {
    max-width: 670px;
  }

  .hero-images-container-1 {
    max-width: 390px;
    position: absolute;
    top: 55%;
    right: 18%;
  }

  .hero-images-container-2 {
    max-width: 225px;
    position: absolute;
    top: 68%;
    right: 12%;
  }
}

[data-background-color="orange"] {
  background-color: $orange-bg;
}
[data-background-color="black"] {
  background-color: $black-color;
}

[data-background-color]:not([data-background-color="gray"]) {
  color: $white-color;

  .title,
  .social-description h2,
  p,
  p.blockquote,
  p.blockquote small {
    color: $white-color;
  }

  .separator {
    background-color: $white-color;
  }

  .navbar.bg-white p {
    color: $default-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a:not(.btn):not(.dropdown-item),
  .icons-container {
    color: $white-color;
  }

  .input-group-text,
  .form-group.no-border .input-group-text,
  .input-group.no-border .input-group-text {
    color: $opacity-8;
  }

  .description,
  .social-description p {
    color: $opacity-8;
  }

  p.blockquote {
    border-color: $opacity-2;
  }

  //radio and checkboxes
  .checkbox label::before,
  .checkbox label::after,
  .radio label::before,
  .radio label::after {
    border-color: $opacity-2;
  }

  .checkbox label::after,
  .checkbox label,
  .radio label {
    color: $white-color;
  }

  .checkbox input[type="checkbox"]:disabled + label,
  .radio input[type="radio"]:disabled + label {
    color: $white-color;
  }

  .radio input[type="radio"]:not(:disabled):hover + label::after,
  .radio input[type="radio"]:checked + label::after {
    background-color: $white-color;
    border-color: $white-color;
  }

  //inputs
  @include input-coloured-bg(
    $opacity-5,
    $white-color,
    $white-color,
    $transparent-bg,
    $opacity-1,
    $opacity-2
  );

  //buttons
  .btn[class*="btn-outline-"] {
    background-color: $transparent-bg;
    border-color: $opacity-5;
    color: $white-color;

    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:active:hover,
    &.active:hover,
    .show > &.dropdown-toggle,
    .show > &.dropdown-toggle:focus,
    .show > &.dropdown-toggle:hover {
      background-color: $transparent-bg;
      border-color: $white-color;
      color: $white-color;
    }
  }

  //tabs
  .nav-tabs {
    > .nav-item {
      > .nav-link {
        i.now-ui-icons {
          color: $white-color;
        }
      }
    }
  }

  &.section-nucleo-icons .icons-container i:nth-child(6) {
    color: $white-color;
  }
}

//Header
.header-nav-item {
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
}

//profile
.profile-category {
  font-weight: bold;
  padding: 0 200px;
}
.quotes {
  quotes: "„" "“";
}
.block-qoute {
  position: relative;
  margin: 40px 0;
  padding: 35px 40px 20px 40px;
  font-style: italic;
  border-radius: 1px;
  border: none;
  box-shadow: 2px 2px 4px 2px #8880802e;
  text-indent: 1.6em;
}
.author-name {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

//vlogs
.youtube-player-list {
  width: 100%;
  height: 100%;
}
.youtube-card-wrapper {
  padding: 50px 0;
  cursor: pointer;
}
.youtube-preview {
  height: 300px;
}
.youtube-card {
  font-size: 120%;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 120%;
    font-weight: bold;
  }
  &__description {
    text-align: justify;
  }
  &__footer {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
  }
}

.youtube-subscribe {
  cursor: pointer;
}

.youtube-subscribe:hover {
  border: 1px solid rgba(255, 255, 255, 0.192);
  box-shadow: 5px 5px 5px #88888831;
  padding: 15px;
  border-radius: 2px;
}

.youtube-card:hover {
  background-color: $opacity-gray-8;
  box-shadow: 5px 5px 5px #88888831;
}

.link-no-style {
  text-decoration: none;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: initial;
  }
  color: initial;
}

.landing-page-header {
  text-align: center;
}
.time-down-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (max-width: 600px) {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
}

.down-time-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  &__row {
    width: 88%;
  }
  .time-element {
    display: flex;
    &__wrapper {
      width: 100%;
      margin: auto;
      border: 2px solid #00b9f7;
      border-radius: 1px;
      display: flex;
      flex-direction: column;
      padding: 36px;
      padding: 30px 0;
    }
  }
  .time-number {
    font-family: "pt sans", sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 50px;
    color: #f7f7f7;
    margin-bottom: 10px;
  }
  .time-text {
    font-family: "pt sans", sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #00b9f7;
  }
}

.landing-page-description-text {
  margin-top: 25px;
}

.carousel-image {
  width: 100%;
  height: 105vh;
  @media only screen and (max-width: 600px) {
    height: 30vh;
  }
}

.loading-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  // background: white;
}

.section-course {
  color: rgb(34, 43, 69);
  background: white;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.section2-wrapper {
  padding: 0 10px;
  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}
.author-wrapper {
  margin-top: 4px;
  display: flex;
  align-items: center;
  .section-card-name {
    color: #0768ea;
    margin-left: 5px;
    font-size: 13px;
  }
  .section-card-time {
    color: #49494e;
    margin-left: 5px;
    font-size: 13px;
  }
}
.section-card-title {
  font-weight: bold;
  font-size: 150%;
  @media only screen and (max-width: 600px) {
    font-size: 110%;
  }
}
.section-card-description {
  font-size: 90%;
}

.normal-card {
  margin-top: 40px;
  height: 250px;
  padding: 0 5px;
  width: 100%;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  @media only screen and (max-width: 600px) {
    padding: 0 5px;
    height: 135px;
  }
  &--image-wrapper {
    padding: 10px 10px 10px 0;
    width: 100%;
    display: flex;
  }
  &__image {
    height: 100%;
    width: 35%;
    border-radius: 5px;
    @media only screen and (max-width: 600px) {
      width: 40%;
    }
  }
  &__right {
    height: 100%;
    padding-left: 20px;
    position: relative;
  }
}

.normal-card:hover {
  background-image: linear-gradient(#eaebee, #fbfbfc96);
}

.section-card-tags {
  position: absolute;
  bottom: 0;
  z-index: 100;
  &--item {
    border-radius: 3px;
    background-color: #ededee;
    font-size: 90%;
    color: cornflowerblue;
    cursor: pointer;
    margin-right: 3px;
    padding: 2px;
  }
  &--item:hover {
    color: rgb(72, 203, 255);
  }
}
.course-section {
  &--first-block {
    width: 66.67%;
    display: flex;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    
    &--card {
      width: 98%;
      position: relative;
      margin-right: auto;
      height: 450px;
      cursor: pointer;
      margin-bottom: 20px;
      @media only screen and (max-width: 600px) {
        width: 100%;
        height: 350px;
      }
    }

    &__image {
      width: 100%;
      border-radius: 5px;
      height: 60%;
      @media only screen and (max-width: 600px) {
        height: 40%;
      }
    }
    &__avatar {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
  &--second-block {
    width: 33.33%;
    display: flex;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    &--card {
      position: relative;
      width: 98%;
      margin-left: auto;
      background-image: linear-gradient(#d7d8da, #fbfbfc96);
      height: 450px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 20px;
      cursor: pointer;
      @media only screen and (max-width: 600px) {
        width: 100%;
        height: 350px;
        background-image: none;
      }
    }
    &__image {
      width: 100%;
      border-radius: 5px;
      height: 40%;
    }
  }
}
.course-section-left {
  padding-right: 5px;
  padding-left: 5px;
  &--block {
    width: 100%;
    height: 100%;
    display: flex;
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
}
.course-section-right {
  padding: 10px 5px 0 5px;
  border: none;
  background-image: linear-gradient(#f0f1f5, #fbfbfc96);
  box-shadow:0 0 20px rgba(0,0,0,0.03);
  &--block {
    width: 100%;
    height: 100%;
  }
  .section-card-title {
    text-align: center;
  }
}

.small-card-wrapper {
  display: flex;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  &--image {
    height: 100%;
  }
  &--tilte {
    font-weight: bold;
  }
  &--tag {
    margin-top: 15px;
  }
  &__block {
    padding: 0;
    @media only screen and (max-width: 600px) {
      padding: 10px 15px 0 15px;
    }
  }
}

.small-card-wrapper:hover {
  background-image: linear-gradient(#eaebee, #fbfbfc96);
}

.content-wrapper {
  margin: 0;
}

.courses-details {
  color: #222b45;
}

.courses-comment-wrapper {
  width: 70%;
  margin: 0 auto;
  @media only screen and (max-width: 600px) {
    width: 90%;
  }
}

.courses-details-comment {
  margin-top: 20px;
  width: 100%;
  height: auto;
}

.comment-blocks {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  &--image {
    border-radius: 50%;
    width: 70px;
    height: 70px;
    @media only screen and (max-width: 600px) {
      width: 40px;
      height: 40px;
    }
  }
}

.comment-content {
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 25px;
  margin-left: 12px;
  &__name {
    font-weight: bold;
    font-size: 120%;
  }
  &__text {
    padding: 5px 0;
  }
  &__media {
    cursor: pointer;
  }
  &__email {
    font-size: 75%;
    opacity: 0.6;
  }
}
