.section {
  padding: 70px 0;
  position: relative;
  background: $custom-background-color;

  .row + .category {
    margin-top: $margin-base-vertical;
  }
}
.section-navbars {
  padding-bottom: 0;
}

.section-full-screen {
  height: 100vh;
}
.section-signup {
  padding-top: 20vh;
}

.page-header {
  min-height: 100vh;
  max-height: 999px;
  padding: 0;
  color: $white-color;
  position: relative;
  overflow: hidden;

  & > .content {
    margin-top: 12%;
    text-align: center;
    margin-bottom: 50px;
  }

  &.page-header-small {
    min-height: 60vh;
    max-height: 440px;
  }

  &:before {
    background-color: rgba(0, 0, 0, 0.3);
  }

  > .container {
    z-index: 2;
    padding-top: 12vh;
    padding-bottom: 40px;
  }

  .page-header-image {
    position: absolute;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    z-index: -1;
  }

  .content-center {
    position: absolute;
    top: 45%;
    left: 50%;
    z-index: 2;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    color: #ffffff;
    padding: 0 15px;
    width: 100%;
    @media only screen and (max-width: 600px) {
      top: 30%;
    }
  }

  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .container {
    height: 100%;
    z-index: 1;
    text-align: center;
    position: relative;
  }

  .category,
  .description {
    color: $opacity-8;
  }

  &:after,
  &:before {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
    content: '';
  }
}

.clear-filter {
  &:after,
  &:before {
    display: none;
  }

  &[filter-color='orange'] {
    @include linear-gradient(rgba($black-color, 0.2), rgba(224, 23, 3, 0.6));
  }
}

.section-story-overview {
  padding: 50px 0;

  .image-container {
    height: 335px;
    position: relative;
    background-position: center center;
    background-size: cover;
    box-shadow: $box-shadow-raised;
    border-radius: 0.25rem;

    & + .category {
      padding-top: 15px;
    }

    &.image-right {
      z-index: 2;

      + h3.title {
        margin-top: 120px;
      }
    }

    &.image-left {
      z-index: 1;
    }

    &:nth-child(2) {
      margin-top: 420px;
      margin-left: -105px;
    }
  }

  p.blockquote {
    width: 220px;
    min-height: 180px;
    text-align: left;
    position: absolute;
    top: 376px;
    right: 155px;
    z-index: 0;
  }
}

.section-nucleo-icons {
  .nucleo-container img {
    width: auto;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
  }

  .nucleo-container {
    height: 335px;
    position: relative;
  }

  h5 {
    margin-bottom: 35px;
  }

  .icons-container {
    position: relative;
    max-width: 450px;
    height: 300px;
    max-height: 300px;
    margin: 0 auto;
  }
  .icons-container i {
    font-size: 34px;
    position: absolute;
    left: 0;
    top: 0;
  }

  .icons-container i:nth-child(1) {
    top: 5%;
    left: 7%;
  }

  .icons-container i:nth-child(2) {
    top: 28%;
    left: 24%;
  }

  .icons-container i:nth-child(3) {
    top: 40%;
  }

  .icons-container i:nth-child(4) {
    top: 18%;
    left: 62%;
  }

  .icons-container i:nth-child(5) {
    top: 74%;
    left: 3%;
  }

  .icons-container i:nth-child(6) {
    top: 36%;
    left: 44%;
    font-size: 65px;
    color: #f96332;
    padding: 1px;
  }

  .icons-container i:nth-child(7) {
    top: 59%;
    left: 26%;
  }

  .icons-container i:nth-child(8) {
    top: 60%;
    left: 69%;
  }

  .icons-container i:nth-child(9) {
    top: 72%;
    left: 47%;
  }

  .icons-container i:nth-child(10) {
    top: 88%;
    left: 27%;
  }

  .icons-container i:nth-child(11) {
    top: 31%;
    left: 80%;
  }

  .icons-container i:nth-child(12) {
    top: 88%;
    left: 68%;
  }

  .icons-container i:nth-child(13) {
    top: 5%;
    left: 81%;
  }

  .icons-container i:nth-child(14) {
    top: 58%;
    left: 90%;
  }

  .icons-container i:nth-child(15) {
    top: 6%;
    left: 40%;
  }
}

.section-images {
  max-height: 670px;
  height: 670px;

  .hero-images-container,
  .hero-images-container-1,
  .hero-images-container-2 {
    margin-top: -38vh;
  }

  .hero-images-container {
    max-width: 670px;
  }

  .hero-images-container-1 {
    max-width: 390px;
    position: absolute;
    top: 55%;
    right: 18%;
  }

  .hero-images-container-2 {
    max-width: 225px;
    position: absolute;
    top: 68%;
    right: 12%;
  }
}

[data-background-color='orange'] {
  background-color: $orange-bg;
}
[data-background-color='black'] {
  background-color: $black-color;
}

[data-background-color]:not([data-background-color='gray']) {
  color: $white-color;

  .title,
  .social-description h2,
  p,
  p.blockquote,
  p.blockquote small {
    color: $white-color;
  }

  .separator {
    background-color: $white-color;
  }

  .navbar.bg-white p {
    color: $default-color;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a:not(.btn):not(.dropdown-item),
  .icons-container {
    color: $white-color;
  }

  .input-group-text,
  .form-group.no-border .input-group-text,
  .input-group.no-border .input-group-text {
    color: $opacity-8;
  }

  .description,
  .social-description p {
    color: $opacity-8;
  }

  p.blockquote {
    border-color: $opacity-2;
  }

  //radio and checkboxes
  .checkbox label::before,
  .checkbox label::after,
  .radio label::before,
  .radio label::after {
    border-color: $opacity-2;
  }

  .checkbox label::after,
  .checkbox label,
  .radio label {
    color: $white-color;
  }

  .checkbox input[type='checkbox']:disabled + label,
  .radio input[type='radio']:disabled + label {
    color: $white-color;
  }

  .radio input[type='radio']:not(:disabled):hover + label::after,
  .radio input[type='radio']:checked + label::after {
    background-color: $white-color;
    border-color: $white-color;
  }

  //inputs
  @include input-coloured-bg(
    $opacity-5,
    $white-color,
    $white-color,
    $transparent-bg,
    $opacity-1,
    $opacity-2
  );

  //buttons
  .btn[class*='btn-outline-'] {
    background-color: $transparent-bg;
    border-color: $opacity-5;
    color: $white-color;

    &:hover,
    &:focus,
    &:not(:disabled):not(.disabled):active,
    &:not(:disabled):not(.disabled).active,
    &:not(:disabled):not(.disabled):active:focus,
    &:not(:disabled):not(.disabled).active:focus,
    &:active:hover,
    &.active:hover,
    .show > &.dropdown-toggle,
    .show > &.dropdown-toggle:focus,
    .show > &.dropdown-toggle:hover {
      background-color: $transparent-bg;
      border-color: $white-color;
      color: $white-color;
    }
  }

  //tabs
  .nav-tabs {
    > .nav-item {
      > .nav-link {
        i.now-ui-icons {
          color: $white-color;
        }
      }
    }
  }

  &.section-nucleo-icons .icons-container i:nth-child(6) {
    color: $white-color;
  }
}

//Header
.header-nav-item {
  text-transform: uppercase;
  font-size: 0.7142em;
  padding: 0.5rem 0.7rem;
  line-height: 1.625rem;
}

//profile
.profile-category {
  font-weight: bold;
  padding: 0 200px;
}
.quotes {
  quotes: '„' '“';
}
.block-qoute {
  position: relative;
  margin: 40px 0;
  padding: 35px 40px 20px 40px;
  font-style: italic;
  border-radius: 1px;
  border: none;
  box-shadow: 2px 2px 4px 2px #8880802e;
  text-indent: 1.6em;
}
.author-name {
  font-weight: bold;
  padding-right: 10px;
  text-align: right;
}

.dropdown-item-wrapper {
  display: flex;
  align-items: center;
}

.logout-item {
  background-color: #88888831;
  box-shadow: 5px 5px 5px #88888831;
}

//vlogs
.youtube-player-list {
  width: 100%;
  height: 100%;
}
.youtube-card-wrapper {
  padding: 50px 0;
  cursor: pointer;
}
.youtube-preview {
  height: 300px;
}
.youtube-card {
  font-size: 120%;
  display: flex;
  flex-direction: column;
  &__title {
    font-size: 120%;
    font-weight: bold;
  }
  &__description {
    text-align: justify;
  }
  &__footer {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 0;
  }
}

.youtube-subscribe {
  cursor: pointer;
}

.youtube-subscribe:hover {
  border: 1px solid rgba(255, 255, 255, 0.192);
  box-shadow: 5px 5px 5px #88888831;
  padding: 15px;
  border-radius: 2px;
}

.youtube-card:hover {
  background-color: $opacity-gray-8;
  box-shadow: 5px 5px 5px #88888831;
}

.link-no-style {
  text-decoration: none;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
    color: initial;
  }
  color: initial;
}

.landing-page-header {
  text-align: center;
  color: #02b7f4;
}
.time-down-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media only screen and (max-width: 600px) {
    position: relative;
    top: 0;
    left: 0;
    transform: translate(0, 0);
  }
}

.carousel-wrapper {
  width: 100%;
  height: 100%;
}

.down-time-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10%;
  &__row {
    width: 88%;
  }
  .time-element {
    display: flex;
    &__wrapper {
      width: 100%;
      margin: auto;
      border: 2px solid #00b9f7;
      border-radius: 1px;
      display: flex;
      flex-direction: column;
      padding: 36px;
      padding: 30px 0;
    }
  }
  .time-number {
    font-family: 'pt sans', sans-serif;
    font-weight: 300;
    font-size: 60px;
    line-height: 50px;
    color: #f7f7f7;
    margin-bottom: 10px;
  }
  .time-text {
    font-family: 'pt sans', sans-serif;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #00b9f7;
  }
}

.landing-page-description-text {
  margin-top: 25px;
}

.carousel-image {
  width: 100%;
  height: 105vh;
  @media only screen and (max-width: 600px) {
    height: 30vh;
  }
}

.loading-wrapper {
  width: 100vw;
  height: 100vh;
  z-index: 10000;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  // background: white;
}

.section-course {
  color: rgb(34, 43, 69);
  background: white;
  @media only screen and (max-width: 600px) {
    font-size: 12px;
  }
}

.section2-wrapper {
  padding: 0 10px;
  @media only screen and (max-width: 600px) {
    padding: 0;
  }
}
.author-wrapper {
  margin-top: 4px;
  display: flex;
  align-items: center;
  .section-card-name {
    color: #0768ea;
    margin-left: 5px;
    font-size: 13px;
  }
  .section-card-time {
    color: #49494e;
    margin-left: 5px;
    font-size: 13px;
  }
}
.section-card-title {
  font-weight: bold;
  font-size: 150%;
  @media only screen and (max-width: 600px) {
    font-size: 110%;
  }
}
.section-card-description {
  font-size: 90%;
}

.text-ellipsis {
  @media only screen and (max-width: 600px) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}

.normal-card {
  margin-top: 40px;
  height: 250px;
  padding: 0 5px;
  width: 100%;
  display: flex;
  cursor: pointer;
  border-radius: 5px;
  @media only screen and (max-width: 600px) {
    padding: 0 5px;
    height: 135px;
  }
  &--image-wrapper {
    padding: 10px 10px 10px 0;
    width: 100%;
    display: flex;
  }
  &__image {
    height: 100%;
    width: 35%;
    border-radius: 5px;
    @media only screen and (max-width: 600px) {
      width: 40%;
    }
  }
  &__right {
    height: 100%;
    padding-left: 20px;
    position: relative;
    width: 65%;
    border-radius: 5px;
    @media only screen and (max-width: 600px) {
      width: 60%;
    }
  }
}

.normal-card:hover {
  background-image: linear-gradient(#eaebee, #fbfbfc96);
}

.section-card-tags {
  position: absolute;
  bottom: 0;
  z-index: 100;
  &--item {
    border-radius: 3px;
    background-color: #ededee;
    font-size: 90%;
    color: cornflowerblue;
    cursor: pointer;
    margin-right: 3px;
    padding: 2px;
  }
  &--item:hover {
    color: rgb(72, 203, 255);
  }
}
.course-section {
  &--first-block {
    width: 66.67%;
    display: flex;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }

    &--card {
      width: 98%;
      position: relative;
      margin-right: auto;
      height: 450px;
      cursor: pointer;
      margin-bottom: 20px;
      @media only screen and (max-width: 600px) {
        width: 100%;
        height: 280px;
      }
    }

    &__image {
      width: 100%;
      border-radius: 5px;
      height: 60%;
    }
    &__avatar {
      width: 20px;
      height: 20px;
      border-radius: 50%;
    }
  }
  &--second-block {
    width: 33.33%;
    display: flex;
    @media only screen and (max-width: 600px) {
      width: 100%;
    }
    &--card {
      position: relative;
      width: 98%;
      margin-left: auto;
      background-image: linear-gradient(#d7d8da, #fbfbfc96);
      height: 450px;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-bottom: 20px;
      cursor: pointer;
      @media only screen and (max-width: 600px) {
        width: 100%;
        height: 280px;
        background-image: none;
      }
    }
    &__image {
      width: 100%;
      border-radius: 5px;
      height: 40%;
      @media only screen and (max-width: 600px) {
        height: 60%;
      }
    }
  }
}
.course-section-left {
  padding-right: 5px;
  padding-left: 5px;
  &--block {
    width: 100%;
    height: 100%;
    display: flex;
    @media only screen and (max-width: 600px) {
      display: block;
    }
  }
}
.course-section-right {
  padding: 10px 5px 0 5px;
  border: none;
  background-image: linear-gradient(#f0f1f5, #fbfbfc96);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.03);
  &--block {
    width: 100%;
    height: 100%;
  }
  .section-card-title {
    text-align: center;
  }
}

.small-card-wrapper {
  display: flex;
  padding: 15px 0;
  border-radius: 5px;
  cursor: pointer;
  &--image {
    height: 100%;
  }
  &--tilte {
    font-weight: bold;
  }
  &--tag {
    margin-top: 15px;
  }
  &__block {
    padding: 0;
    @media only screen and (max-width: 600px) {
      padding: 10px 15px 0 15px;
    }
  }
}
.reaction-modal-wrapper {
  width: fit-content;
  margin: 0 auto;
}
.reaction-modal {
  width: 100%;
  display: flex;
  margin: 0 auto;
  align-items: center;
  margin: 10px 20px;
  img {
    width: 15px;
    height: 15px;
    margin-right: 5px;
  }
}
.share-wrapper {
  padding: 20px;
  display: flex;
  justify-content: center;
}
.date-wrapper {
  font-size: 130%;
  text-align: right;
  margin: 25px 0 25px auto;
}

.small-card-wrapper:hover {
  background-image: linear-gradient(#eaebee, #fbfbfc96);
}

.course-details-wrapper {
  @media only screen and (min-width: 800px) {
    max-width: 800px;
  }
}
.active {
  color: #0084ff;
}
.course-details-footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
  padding: 7px;
  &__item {
    width: 30%;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    padding: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    @media only screen and (max-width: 600px) {
      font-size: 80%;
      padding: 0;
    }
    img {
      width: 20px;
      margin-right: 5px;
      height: auto;
      @media only screen and (max-width: 600px) {
        width: 15px;
      }
    }
  }
  &__item:hover {
    background-color: #3f3f3f0e;
  }
}
.course-details-info-footer {
  width: 100%;
  display: flex;
  margin: 10px 0;
  @media only screen and (max-width: 600px) {
    padding: 0;
    font-size: 80%;
  }
  img {
    width: 20px;
    margin-right: 5px;
  }
  &__item-left {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  &__item-right {
    cursor: pointer;
    margin-left: auto;
    display: flex;
    align-items: center;
  }
  &__item-right:hover {
    text-decoration: underline;
  }
}
.content-wrapper {
  margin: 0;
  padding: 25px;
  background: white;

  .progress {
    height: 0.2rem;
    width: 100%;
  }
}

.courses-details {
  color: #222b45;
  background: #f0f2f5;
  p {
    font-weight: 500;
  }
}

.courses-comment-wrapper {
  margin: 0 auto;
  font-size: 85%;
  border: none;
  padding: 20px 40px;
  align-items: center;
  @media only screen and (max-width: 600px) {
    padding: 0;
    font-size: 80%;
  }
}

.share-social-network {
  position: absolute;
  top: 0;
  left: 0;
}

.courses-details-comment {
  width: 70%;
  padding: 15px;
  height: auto;
  margin: 5px auto;
  border: none;
  border-radius: 5px;
  @media only screen and (max-width: 600px) {
    width: 96%;
  }
  &--file {
    opacity: 0;
    width: 0.1px;
    height: 0.1px;
    position: absolute;
  }
  label {
    display: block;
    position: relative;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    margin-left: 5px;
    margin-bottom: 0;
    img {
      width: 22px;
    }
  }
  label:hover {
    background: #e3e5e7;
  }
}

.emoji-icon-item {
  cursor: pointer;
  width: 22px;
  height: 22px;
}

.image-active {
  border: 2px solid #3bef3b;
  box-shadow: 0 0 5px 3px #adf3ad;
}

.preview-wrapper {
  width: 100%;
  display: flex;
  margin-bottom: 20px;
}
.img-preview {
  width: 40%;
  height: auto;
  align-self: center;
}
.img-close-preview {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-left: auto;
  margin-bottom: auto;
  cursor: pointer;
}
.img-close-preview:hover {
  background: rgba(0, 0, 0, 0.2);
}

.disable-send {
  cursor: not-allowed !important;
  filter: invert(50%);
}

.comment-wrapper {
  display: flex;
  align-items: center;
  border-radius: 70px;
  padding: 5px 15px;
  flex-grow: 1;
  background-color: #fafafa;
  box-shadow: 0 1px 0px 0 rgba(0, 0, 0, 0.2), 0 2px 5px 0 rgba(0, 0, 0, 0.19);
  @media only screen and (max-width: 600px) {
    width: auto;
  }
  &--text {
    flex-grow: 1;
    border: none;
    background: none;
  }
}

.comment-send {
  width: 30px;
  margin-left: 10px;
  cursor: pointer;
}

.delete-comment {
  position: absolute;
  cursor: pointer;
  top: -2px;
  right: -5px;
  img {
    width: 20px;
    height: 20px;
  }
}

.comment-blocks {
  display: flex;
  width: 100%;
  margin-bottom: 10px;
  &--image {
    width: 50px;
    height: 50px;
    @media only screen and (max-width: 600px) {
      width: 40px;
      height: 40px;
    }
  }
}

.comment-input {
  width: 100%;
  @media only screen and (max-width: 600px) {
    width: 87%;
  }
}

.comment-content-wrapper {
  max-width: 83%;
}

.like-text {
  padding: 0 5px 0 20px;
  cursor: pointer;
  font-weight: bold;
}
.active-like {
  color: #00b9f7;
}

.normal-like {
}

.like-wrapper {
  display: flex;
  margin-top: 5px;
  span {
    opacity: 0.8;
    font-size: 93%;
    margin-left: 15px;
  }
}

.like-number-wrapper {
  position: absolute;
  border-radius: 5px;
  box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.02);
  background-color: white;
  padding: 0 5px;
  border-radius: 20px;
  bottom: -8px;
  right: 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
  cursor: pointer;
  .number-like {
    width: 16px;
    height: auto;
    margin-right: 2px;
  }
}

.comment-content {
  background-color: #f0f2f5;
  padding: 20px;
  border-radius: 25px;
  margin-left: 8px;
  position: relative;
  &__name {
    font-weight: bold;
    font-size: 110%;
    word-break: break-all;
  }
  &__text {
    padding: 5px 0;
  }
  &__media {
    cursor: pointer;
    border-radius: 5px;
  }
  &__email {
    font-size: 75%;
    opacity: 0.6;
  }
}

.cover-title {
  text-shadow: 5px 3px black;
}
.cover-change-icon-wrapper {
  position: absolute;
  bottom: 10px;
  right: 25px;
  justify-content: right;
  align-items: center;
  cursor: pointer;
}
.cover-change-icon {
  width: 30px;
  height: auto;
  margin-right: 3px;
}

@keyframes autoTransition {
  from {
    top: 0;
  }

  to {
    top: 30px;
  }
}
.vlog-right-block {
  &--title {
    font-size: 250%;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 15px;
  }
}
.youtube-cover-icon {
  width: 170px;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  @media only screen and (max-width: 600px) {
    width: 100px;
    margin-top: 50px;
  }
}
.youtube-cover-icon:hover {
  transform: scale(1.2);
}
.vlog-left-block {
  display: flex;
  position: relative;
  right: 0;
  &--image {
    position: absolute;
    width: 630px;
    height: auto;
    animation-duration: 1s;
    animation-name: autoTransition;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
    -webkit-animation-timing-function: ease-out;
    @media only screen and (max-width: 600px) {
      width: 90vw;
      margin: 0 auto;
    }
  }
}
.item-wrapper {
  padding-top: 50px;
  background-color: #242424;
  color: white;
  overflow: hidden;
}
.card-wrapper {
  display: flex;
  margin-bottom: 70px;
  &--title {
    font-size: 150%;
    text-transform: uppercase;
    font-weight: bold;
    margin: 10px 0;
  }
  &--description {
    margin-bottom: 20px;
    opacity: 0.6;
    max-width: 80%;
    margin: 0 auto;
  }
  &__information {
    width: fit-content;
    text-align: center;
    transition: all 0.8s ease-in-out;
    &--left {
      margin: auto 25px auto auto;
      @media only screen and (max-width: 600px) {
        margin: auto;
      }
    }
    &--right {
      margin: auto auto auto 25px;
      @media only screen and (max-width: 600px) {
        margin: auto;
      }
    }
    max-width: 500px;
  }
  &__information:hover {
    transform: scale(1.2);
  }

  img {
    width: 80%;
    height: auto;
    align-self: center;
  }
  &--image-left {
    margin-left: auto;
  }
  &--image-right {
    margin-right: auto;
  }
}
.live-preview {
  border: 1px solid #da0e2b;
  color: #da0e2b;
  font-size: 19px;
  padding: 10px 25px;
  cursor: pointer;
  text-transform: uppercase;
  width: fit-content;
  margin: 10px auto;
  transition: all 0.4s ease-in-out;
  border-radius: 2px;
}

.live-preview:hover {
  background-color: #da0e2b;
  color: rgb(255, 255, 255);
  box-shadow: 0 0 5px 5px #f0040452;
}
.dark-background {
  background-color: #242424;
}
.card-list-wrapper {
  color: white;
}
.card-list-item {
  position: relative;
  &--image {
    width: 100%;
    height: 450px;
  }
  &--cover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: scale(0.8);
    opacity: 0;
    cursor: pointer;
    transition: all 0.8s ease-in-out;
  }
  &--cover:hover {
    transform: scale(1);
    background-color: rgba(31, 31, 31, 0.075);
    opacity: 1;
  }
}
